body {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    line-height: 1.7;
    color: #c4c3ca;

    background: rgb(31, 32, 41);
    background: linear-gradient(90deg, rgba(31, 32, 41, 1) 0%, rgb(36, 40, 70) 100%);
    overflow-x: hidden;
}

#value {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 10%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 50x;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #5e6177;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);

}